.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 600;
}

.cont {   
    background-color: rgb(24, 24, 136);
    padding: 10px;
}

.link {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}